@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6c63ff;
  --color-secondary: teal;
}
.navbar ul li a {
  @apply ml-4 rounded-full;
}
.navbar .menu a.active {
  @apply text-primary bg-primary/8 duration-105 font-semibold;
}
