@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f44c26;
  /* --color-secondary: #00bfa6; */
  --color-secondary: #4b5563;
}
@plugin "daisyui/theme" {
  name: "dark";
  /* default: true; */
  --color-primary: #f44c26;
  /* --color-secondary: #00bfa6; */
  --color-secondary: #6eacda;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.navbar ul li a {
  @apply ml-4 rounded-full text-secondary;
}
.navbar .menu a.active {
  @apply text-primary bg-primary/8 duration-105 font-semibold;
}

* label {
  @apply text-sm;
}
* input {
  @apply text-sm bg-[#f9fafb] border placeholder:text-[#9ca3af] border-[#d1d5db];
}
